appdirs
astroid
attrs
black
certifi
chardet
click
flake8
idna
importlib-metadata
iniconfig
isort
lazy-object-proxy
mccabe
mypy
mypy-extensions
packaging
pathspec
pluggy
py
pycodestyle
pyflakes
pylint
pyparsing
pytest
regex
requests
toml
typed-ast
types-requests
typing-extensions
urllib3
wrapt
zipp
